.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  margin: 20px 0;
  text-align: center;
}

.video {
  /* width: 480px; */
  width: 100%;
  height: 360px;
  /* background-color: #333; */
  transform: scaleX(-1); /* Mirror horizontally */
  -webkit-transform: scaleX(-1); /* For Safari */
}

.control {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn--group{
  text-align: center;
}

.btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  min-height: 41px;
  background-color: #205cab;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
}

.btn--start {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 50px 0; */
}

.btn--start > Button {
  background-color: #151d42;
  padding: 10px 30px;
  font-size: 2rem;
}

.gesture {
  font-size: 10rem;
}

/* Tablet and mobile */
@media screen and (max-width: 1024px) {
  .video {
    height: 100%;
  }

  /* .title {
  font-size: 2.5rem;
  } */
}